body {
    background-color: black;
    color: white;
}
#dattable {
    display: table;

}

.lables {
    display: table-cell;
}

h1 {
    /*display: inline-block;*/
}

hr {
    border: 0px white solid;
    border-bottom: 1px red gray solid;
    padding: 0;
    margin: 0;
    margin-bottom: 1px;
}

