* { margin:0; padding:0; }
html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
}

.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 123px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
	background-color: #222;
	border-right: #333 2px solid;
}

.slideout-panel {
	position:relative;
	z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}

.toggle-button {
	position: absolute;
	left: 2px;
	top: 5px;
	padding: 2px;
	z-index: 1;
}

input[type=button] {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 104px;
	height: 26px;
	color: white;
	border: 1px solid #333;
	background-color: black;
	margin: 3px 0;
	cursor: pointer;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
}

input[value=Save] {background-color: green;}
input[value="Save Splits"] {background-color: green; width: 120px;}


input[value=Reset] {background-color: red;}

input[value='Start / Split'],input[value=Unload] {background-color: red; width: 215px;}

input[value=Pause],input[value=Load],input[value='Choose Splits'] {background-color: #0062FF;}
input[value='Choose Splits'] { width: 120px;}

input[value=Editor],input[value='Export as Wsplit'] {background-color: orange; width: 120px;}

input[value='New Splits Entry'] {
	background-color: green;
	width: 215px;
	margin-left: 5px;
}

input:active {color: #DDDDFF; color: #000033;}

input:disabled {
	background-color: silver;
	color: black;
}

#splits,#splits-editor {
	width: 215px; 
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	font-size: 14px;
	max-width: 215px;
	/* for editor */
	min-height: 190px;
	max-height: 190px;
	overflow-x: hidden;
	overflow-y: auto;
}

#splits-table {
	/*table-layout: fixed;*/
	width: 215px;
}

#splits-header {
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 2px;
}

#splits-table div {
	border-bottom: 1px solid #1D1D1D;
	padding-top: 1.5px;
	padding-bottom: 1.5px;
}

#container {
	width: 215px;
	background-color: #111;
}

#timer {
	border-top: 2px solid #555;
	background-color: #0F0F0F;
	padding-bottom: 5px;
	color: white;
	padding-right: 5px;
	font-family: "Calibri", "Century Gothic", monospace;
	font-weight: bold;
}

/* Gradient Colors for #timer_realtime */
#timer .stop1 { stop-color: white; }
#timer .stop2 { stop-color: gray; }

#prevsplit,#splits-table div:nth-child(3n+3) {
	text-align: right;
	padding-right: 5px;
;
}

#splits-table {
	display: table;
	width: 215px;
}

#splits-table span {
	display: table-row;
	width: 100%;
}

#splits-table span div:nth-child(2n+1) {
	display: table-cell;
}

#splits-table span div:nth-child(2n+2) {
	display: table-cell;
}

#splits-table span div:nth-child(3n+1) {
	/*float: left;*/
	display: table-cell;
	text-align: left;
	padding-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


#splits-table span:nth-child(2n+2) {
	background-color: #171717;
}

#splits-table span div:nth-child(2n+2) {
	text-align: right;
	display: table-cell;
}

#splits-table span div:nth-child(2n+3) {
	text-align: right;
}

.active-split {
	background: rgb(51,115,244);
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzNzNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTM1NzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(51,115,244,1) 0%, rgba(21,53,116,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,115,244,1)), color-stop(100%,rgba(21,53,116,1)));
	background: -webkit-linear-gradient(top,  rgba(51,115,244,1) 0%,rgba(21,53,116,1) 100%);
	background: -o-linear-gradient(top,  rgba(51,115,244,1) 0%,rgba(21,53,116,1) 100%);
	background: -ms-linear-gradient(top,  rgba(51,115,244,1) 0%,rgba(21,53,116,1) 100%);
	background: linear-gradient(to bottom,  rgba(51,115,244,1) 0%,rgba(21,53,116,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3373f4', endColorstr='#153574',GradientType=0 );
}

#splits-header {
	background: #2a2a2a;
	background: -moz-linear-gradient(top,  #2a2a2a 0%, #131313 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(100%,#131313));
	background: -webkit-linear-gradient(top,  #2a2a2a 0%,#131313 100%);
	background: -o-linear-gradient(top,  #2a2a2a 0%,#131313 100%);
	background: -ms-linear-gradient(top,  #2a2a2a 0%,#131313 100%);
	background: linear-gradient(to bottom,  #2a2a2a 0%,#131313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#131313',GradientType=0 );
	min-height: 32px;
}

.statusbar {
	background: #1c1c1c;
	background: -moz-linear-gradient(top,  #1c1c1c 0%, #0d0d0d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#0d0d0d));
	background: -webkit-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%);
	background: -o-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%);
	background: -ms-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%);
	background: linear-gradient(to bottom,  #1c1c1c 0%,#0d0d0d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#0d0d0d',GradientType=0 );
	padding-top: 3px;
	padding-bottom: 3px;
}

#prevtext {
	float:left;
	padding-left: 5px;
	font-size: 14px;
}

#prevsplit {
	font-size: 14px;
}

nav a:link,a:visited {
color: silver;
font-size: 13px;
}

input[type=text],input:disabled{
	border: 0;
	padding: 0;
	padding-right: 2px;
	background-color: transparent;
	color: white;
	/*font-weight: bold;*/
	font-size: 12px;
	width: 28%;
	padding-top: 3px;
	padding-bottom: 3px;
}

input:disabled{font-weight: bold;}

input[type=text]:nth-child(3n+1),input:disabled:nth-child(3n+1) {
	width: 40%;
}



#attempt-counter {
	position: absolute;
	top: 20px;
	border-bottom: none;
	width: 210px;
	text-align: right;
}

#attempt-counter input {
	width: 20px;
	left: 188px;
	position: absolute;
	color: white;
	background: transparent;
}

#splits-game-name input,#splits-goal-name input {
	background: transparent;
	color: white;
	margin-left: 22px;
	margin-right: 2px;
	width: 130px;
	margin-bottom: 2px;
	z-index: 1;
}

.alertBox {
	font-size: 2em;
	font-color: white;
	background-color: red;
	border: 2px solid white;
	position: absolute;
}

#split-selector {
	width: 215px;
	margin-left: 5px;
}

#split-selector h1  {
	font-size: 28px;
	text-align: center;
	margin-top: 2px;
	border-bottom: 2px solid white;
	margin-bottom: 10px;
}

#split-selector ul {
	margin: 2px auto;
	margin-left: 34px;
	text-align: left;
	border: white 2px solid;
	background-color: #222;
	list-style: square inside;
	height: 45px;
	max-height: 45px;
}

#split-selector li {
	margin-left: -5px;
	white-space: nowrap;
	margin-right: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

#split-selector ul:hover {
	border: white 2px solid;
	background-color: #333;
	list-style: square inside;
	cursor: pointer;
}

#split-selector .delete,#split-selector .delete a:link,#split-selector .delete a:visited {
	position: absolute;
	background-color: #222;
	text-decoration: none;
	font-weight: bolder;
	left: 93px;
	width: 30px;
	text-align: center;
	font-size: 30px;
	color: red;
	border-left: white 1px solid;
	z-index: 2;
}

#split-selector .defaultSplit,#split-selector .defaultSplit a:link,#split-selector .defaultSplit a:visited {
	position: absolute;
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
	width: 30px;
	background-color: #222;
	border-right: white 1px solid;
	left: 5px;
	font-size: 30px;
	color: green;
	z-index: 2;
}

#split-selector span {
	line-height:45px;
}

.delete a,.defaultSplit a {
	height: 45px;
	min-height: 45px;
	max-height: 45px;
	border: white solid 2px;
}

#split-selector a:hover {
	background-color: #333 !important;
}

.slide {
	font-size: 16px;
	position: absolute;
	left: 42px;
	background-color: #333;
	/*opacity: 0;*/
	height: 100%;
	width: 0px;
	margin-top: 1px;
	height: 45px;
	max-height: 45px;
	max-width: 134x;
	transition: 1s;
	line-height:45px;
}

.slide p {
	overflow: hidden;
	text-align: center;
	margin-top: 2px;
}

.defaultSplit .slide {
	left: 35px;
	top: 1px;
}
.delete .slide {
	left: -50px;
	top: 1px;
}
#split-selector a:hover + .slide {
	transition: 1s;
	/*opacity: 1;*/
	width: 142px;
	z-index: 1;
}

#debug-output {
	white-space: pre-line;
	width: 350px;
	height: 98%;
	position: absolute;
	left: 225px;
	top: 5px;
	overflow: auto;
	border: red solid 2px;
	background-color: #222;
	display: none;
}

#websock-status {
	font-size: 12px;
	text-align: center;
}
