body {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	background-color: black;
	color: white;

	/*width: 210px;*/
}

#controls {
	/*float: left;*/
	/*text-align: center;*/
}

input[type=button] {
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	width: 98px;
	height: 28px;
	color: white;
	border: 0;
	margin: 3px 0;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[value=Start] {
	background-color: green;
}

input[value=Split],input[value=Unload] {
	background-color: red;

	width: 200px;
}

input[value=Pause],input[value=Load] {
	background-color: #0062FF;
}

input[value=Save] {
	background-color: green;
}

input:active {
	background-color: #DDDDFF;
	color: #000033;
}


#splits {
	width: 200px;
	font-size: 18px;
}

#splits table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0px;
}

#splits caption {
	border-bottom: 1px black solid;
}

#splits td {
	border-bottom: 1px solid #1D1D1D;
	padding-top: 3px;
	padding-bottom: 3px;
}
#container {

  width: 200px;
  background-color: #111;
}
#timers {
	border-top: 2px solid #555;
	background-color: #0F0F0F;
	padding-top: 5px;
	text-align: right;
	font-size: 36px;
	color: white;
}

#timers span {
	font-size: 48px;
	padding-right: 5px;
	font-family: "Century Gothic", monospace;
	font-weight: bold;
}

#about {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 11px;
	background-color: #FFEECC;
	padding: 0 10px;
	border-top-left-radius: 8px;
	-moz-border-topleft-radius: 8px;
	-khtml-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
}

#full {
	display: none;
	width: 620px;
	text-align: justify;
}
#about:hover #full {
	display: block;
}

#prevsplit,td:nth-child(3n+3) {
	text-align: right;
	padding-right: 5px;
	font-family: "Segoe UI", sans-serif;
}

tr:nth-child(2n+1) {
	background-color: #0F0F0F;
}
tr:nth-child(2n+2) {
	background-color: #171717;
}

td:nth-child(3n+1) {
	text-align: left;
	padding-left: 5px;
	font-family: "Segoe UI", sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td:nth-child(2n+2) {
	text-align: center;
}
h1 {
	font-size: 12px;
	text-decoration: underline;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
}

.active-split {
	background: #3373f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #3373f4 0%, #153574 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3373f4), color-stop(100%,#153574)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3373f4 0%,#153574 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3373f4 0%,#153574 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3373f4 0%,#153574 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3373f4 0%,#153574 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3373f4', endColorstr='#153574',GradientType=0 ); /* IE6-9 */
}

caption {
	background: #2a2a2a; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2a2a 0%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2a2a 0%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2a2a 0%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2a2a 0%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a2a2a 0%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}

.statusbar {
	background: #1c1c1c; /* Old browsers */
	background: -moz-linear-gradient(top,  #1c1c1c 0%, #0d0d0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#0d0d0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1c1c1c 0%,#0d0d0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-9 */
	padding-top: 2px
}

#prevtext {
	float:left;
	padding-left: 5px;
}

.timer-stopped {
	background: -webkit-linear-gradient(#eee, #333); /* Dang, doesn't help me for firefox :( */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.timer-running {
	background: -webkit-linear-gradient(#00FF68, #00A541); /* Dang, doesn't help me for firefox :( */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.timer-paused {
	background: -webkit-linear-gradient(#0062FF, #0088FF); /* Dang, doesn't help me for firefox :( */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}