body {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	background-color: black;
	color: white;
}


input[type=button] {
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	width: 97px;
	height: 28px;
	color: white;
	border: 0;
	margin: 3px 0;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[value=Start],input[value=Save] {background-color: green;}

input[value=Split],input[value=Unload] {background-color: red; width: 200px;}

input[value=Pause],input[value=Load] {background-color: #0062FF;}


input:active {background-color: #DDDDFF; color: #000033;
}

#splits,#splits-editor {width: 200px; font-size: 18px;}

#dattable,#splits-editor table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0px;
}

#splits-title {
	text-align: center;
	border-bottom: 1px black solid;
}

#splits div,#splits-editor td {
	border-bottom: 1px solid #1D1D1D;
	padding-top: 1.5px;
	padding-bottom: 1.5px;
}

#container {
  width: 200px;
  background-color: #111;
}

#timers {
	border-top: 2px solid #555;
	background-color: #0F0F0F;
	padding-bottom: 8px;
	color: white;
	padding-right: 5px;
	font-family: "Century Gothic", monospace;
	font-weight: bold;
}

/* Gradient Colors for #timer_realtime */
#timers .stop1 { stop-color: white; }
#timers .stop2 { stop-color: gray; }

#prevsplit,#dattable div:nth-child(3n+3) {
	text-align: right;
	padding-right: 5px;
	font-family: "Segoe UI", sans-serif;
	/*float:right;*/
}

#dattable {
	display: table;
	width: 100%;
}
#dattable span {
	display: table-row;
	background-color: #111;
}
#dattable span div:nth-child(2n+1) {
	/*background-color: #0F0F0F;*/
	display: table-cell;
}

#dattable span div:nth-child(2n+2) {
	display: table-cell;
}

#dattable span div:nth-child(3n+1) {
	/*float: left;*/
	display: table-cell;
	text-align: left;
	padding-left: 5px;
	font-family: "Segoe UI", sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

span:nth-child(2n+2) {
	background-color: #171717!important;
}

#dattable span div:nth-child(2n+2) {
	text-align: center;
	display: table-cell;
}

.active-split {
	background: #3373f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #3373f4 0%, #153574 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3373f4), color-stop(100%,#153574)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3373f4 0%,#153574 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3373f4 0%,#153574 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3373f4 0%,#153574 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3373f4 0%,#153574 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3373f4', endColorstr='#153574',GradientType=0 ); /* IE6-9 */
}

#splits-title {
	background: #2a2a2a; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2a2a 0%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2a2a 0%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2a2a 0%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2a2a 0%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a2a2a 0%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}

.statusbar {
	background: #1c1c1c; /* Old browsers */
	background: -moz-linear-gradient(top,  #1c1c1c 0%, #0d0d0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#0d0d0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1c1c1c 0%,#0d0d0d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1c1c1c 0%,#0d0d0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-9 */
	padding-top: 2px
}

#prevtext {
	float:left;
	padding-left: 5px;
}
